node_modules/*

# for testing mostly
test/project/assets/www/childbrowser*
test/project/www/childbrowser*
test/project/src/**/
test/project/res/xml/plugins.xml
test/project/AndroidManifest.xml
test/project/SampleApp/PhoneGap.plist
test/project/SampleApp.xcodeproj/project.pbxproj
test/project/SampleApp/Plugins/*
